**/.git
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/audio
**/audios
**/*.wav
**/*.mp3
**/*.csv
**/*.zip
**/*.tar.gz
**/*.rar
**/hackmty*
**/altur*
**/node_modules
**/dist
**/.next
